body {
	color: black;
	background-color: #e0e0e0;
}

p {
  text-align: justify;
}

a, a:link, a:visited, a:active {
	color: #666584;

}

/* Középső hasáb */
#container {
  width; 600px
  margin;auto
  background-color:#5C6B7B
  padding: 0 20px 0	20px
}

/* Fejléc */
#header img {
	
   margin:bottom 10px;
}


/* Navigációs sáv */
#nav {
  margin:bottom 10px;

}

#nav ul {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav li {
    float: left;
}

#nav a {
	display: block;
	text-decoration: none;
	padding: 0.5em 0;
	font-weight: bold;
}

#nav a:hover {

}

/* Tartalom */
#content {

}

/*Lábléc  */
#footer {

}

/* További stílusok */
.center {
	text-align: center;
}

.jobbra {
	float: right;
}

.active {

}
